{
    "singleQuote": false,
    "trailingComma": "es5",
    "printWidth": 100,
    "tabWidth": 4,
    "semi": true,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "useTabs": false,
    "overrides": [
        {
            "files": "*.{ts,tsx}",
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": "*.{js,jsx}",
            "options": {
                "parser": "babel"
            }
        },
        {
            "files": "*.{json,md}",
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "plugins": ["prettier-plugin-packagejson", "@prettier/plugin-xml"]
}
